[init]
	defaultBranch = main
[include]
	# Load personal configuration
	path = ~/.gitconfig.local
[alias]
	t = worktree
	l = log --oneline --graph --decorate --all
	undo = reset --soft HEAD^
[rerere]
	enabled = true
[help]
	autocorrect = 1
[color]
	ui = auto
[pull]
	rebase = true
[fetch]
	prune = true
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[core]
	editor = hx
[gpg]
	format = ssh
