[init]
	defaultBranch = main

[include]
	# Load personal configuration
	path = ~/.gitconfig.local

[alias]
	t = worktree
	l = log --oneline --graph --decorate --all
	undo = reset --soft HEAD^

# Command configs

[status]
	branch = true
	showStash = true
	showUntrackedFiles = all

[diff]
	context = 3
	renames = copies
	interHunkContext = 10

[diff-so-fancy]
	markEmptyLines = false

[color "diff"]
	meta = black bold
	frag = magenta
	context = white
	whitespace = yellow reverse
	old = red

[interactive]
	diffFilter = diff-so-fancy --patch
	singlekey = true

[rerere]
	enabled = true

[help]
	autocorrect = 1

[color]
	ui = auto

[pull]
	rebase = true

[fetch]
	prune = true

[push]
	autoSetupRemote = true

[commit]
	gpgsign = true

[core]
	editor = hx
	pager = diff-so-fancy | less --tabs=4 -RFX

[gpg]
	format = ssh


[url "git@github.com:"]
	insteadOf = gh:
